{% extends 'base.html' %}
{% load static %}
{% block titulo %}Acerca de Nosotros{% endblock %}
{% block nav_about_activo %}active{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row align-items-end">&nbsp;</div>
    <div class="row align-items-start">
      <div class="col">
          about

          

        
      </div>
      
    </div>
    <div class="row align-items-end">&nbsp;</div>
    <div class="row align-items-center">
      {% for i in object_list %}
        <div class="col">
          {{ i.nombre }} <br/>
          {{ i.puesto }} <br/>
          {{ i.descripcion }} 
        </div>            
      {% endfor%}
    </div>
    <div class="row align-items-end">&nbsp;</div>
</div>

{% endblock %}