{% extends 'base.html' %}

{% block titulo %}
    Cargar Marca
{% endblock %}

{% block contenido %}

{% if form %}
    <h1>Cargar Marca</h1>

    <form action="" method="POST" >
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Enviar!">
    </form>
{% elif new_marca %}

    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">{{new_marca.nombre}}</h5>
            <p class="card-text">{{new_marca.descripcion}}</p>
            
        </div>
    </div>

{% endif %}

{% endblock %}