{% extends 'base.html' %}
{% load static %}
{% block titulo %} Cargar Tipo{% endblock %}
{% block nav_administracion_activo %}active{% endblock %}
{% block contenido %}

{% if form %}
    <h1>Cargar Tipo</h1>

    <form action="" method="POST" >
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Enviar!">
    </form>
{% elif new_tipo %}

    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">{{new_tipo.categoria}}</h5>
            <p class="card-text">{{new_tipo.descripcion}}</p>
        </div>
    </div>

{% endif %}

{% endblock %}