{% extends 'base.html' %}

{% block titulo %}
    Cargar Tipo
{% endblock %}

{% block contenido %}

{% if form %}
    <h1>Cargar Tipo</h1>

    <form action="" method="POST" >
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Enviar!">
    </form>
{% elif new_distribuidor_m %}

    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">{{new_distribuidor_m.marca}}</h5>
            <p class="card-text">{{new_distribuidor_m.distribuidor}}</p>
        </div>
    </div>

{% endif %}

{% endblock %}