{% extends 'base.html' %}
{% load static %}
{% block titulo %} Crear Producto{% endblock %}
{% block nav_administracion_activo %}active{% endblock %}
{% block contenido %}

{% if form %}
    <h1>Nuevo producto</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Enviar!">
    </form>
{% elif new_product %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ new_product.imagen.url }}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{new_product.nombre}}</h4>
            <p class="card-text">SKU: {{new_product.sku}}</p>
            <p class="card-text">Precio: {{new_product.precio}}</p>
        </div>
    </div>

{% endif %}

{% endblock %}