{% extends 'base.html' %}
{% load static %}
{% block titulo %}Inicio{% endblock %}
{% block nav_inicio_activo %}active{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row align-items-end">&nbsp;</div>
    <div class="row align-items-start">
      <div class="col">
        <a href="/productos/"><img src="{% static 'assets/images/Banner1.jpg' %}" alt="Ferreteria 2010" width="100%"></a>
      </div>
      
    </div>
    <div class="row align-items-end">&nbsp;</div>
    <div class="row align-items-center">
      <div class="col">
        <a href="/productos/"><img src="{% static 'assets/images/Banner2.jpg' %}" alt="Ferreteria 2010" width="100%"></a>
      </div>
      <div class="col">
        <a href="/productos/"><img src="{% static 'assets/images/Banner3.jpg' %}" alt="Ferreteria 2010" width="100%"></a>
      </div>
     
    </div>
    <div class="row align-items-end">&nbsp;</div>
</div>
{% endblock %}