{% extends 'base.html' %}
{% load static %}
{% block titulo %}Inicio{% endblock %}
{% block nav_inicio_activo %}active{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row align-items-end">&nbsp;</div>
    <div class="row align-items-start">
      <div class="col">
          <div style="float:left; z-index: 9999999; margin-top: 40px; position: absolute; text-align: center; width: 95%; color: #fff; text-shadow: 5px 5px 8px #000; font-size: 60px; font-weight: bold;">
            {% for i in object_list %}
            {{ i.titulo }} <br/>
            {{ i.subtitulo }} 
            {% endfor%}
          </div>

        <a href="/productos/"><img src="{% static 'assets/images/Banner1.jpg' %}" alt="Ferreteria 2010" width="100%"></a>
      </div>
      
    </div>
    <div class="row align-items-end">&nbsp;</div>
    <div class="row align-items-center">
      <div class="col">
        <a href="/productos/"><img src="{% static 'assets/images/Banner2.jpg' %}" alt="Ferreteria 2010" width="100%"></a>
      </div>
      <div class="col">
        <a href="/productos/"><img src="{% static 'assets/images/Banner3.jpg' %}" alt="Ferreteria 2010" width="100%"></a>
      </div>
     
    </div>
    <div class="row align-items-end">&nbsp;</div>
</div>

{% endblock %}