{% extends 'base.html' %}
{% load static %}
{% block titulo %}Marcas{% endblock %}
{% block nav_administracion_activo %}active{% endblock %}
{% block contenido %}
<div class="titulo_seccion"><h2>Marcas</h2></div>
<div class="table-responsive-sm">
<table class="table table-hover table-dark table-bordered">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Activo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
        {% for marca in object_list %}
            <tr>
            <th scope="row">{{marca.id}}</th>
            <td>{{ marca.nombre }}</td>
            <td>{{marca.descripcion}}</td>
            {% if marca.active == True %}
                <td><i class="bi bi-check-circle" style="text-align:right; font-size:30px; color:greenyellow"></i></td>
            {% else %}
                <td><i class="bi bi-x-circle" style="text-align:right; font-size:30px; color:red"></i></td>
            {% endif %}
            <td>
                <a href="/marcas/update-marca/{{marca.id}}" class="btn btn-primary">Editar</a> 
                <a href="/marcas/delete-marca/{{marca.id}}" class="btn btn-danger">Eliminar</a></td> 
            </td> 
            </tr>
        {% endfor%}
    </tbody>
  </table>
  <div class="pagination" >
    {% if object_list.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if object_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ object_list.previous_page_number }}" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for p in object_list.paginator.page_range %}
          {% if object_list.number == p %}
            <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if object_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ object_list.next_page_number }}" aria-label="Siguiente">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
    </ul>
    </nav>
  {% endif %}
</div>
</div>
  <a href="/marcas/create-marca" class="btn btn-outline-success">Nueva Marca</a></td> 

{% endblock %}