{% extends 'base.html' %}
{% load static %}
{% block titulo %} Cargar distribuidor-marca{% endblock %}
{% block nav_administracion_activo %}active{% endblock %}
{% block contenido %}

{% if form %}
    <h1>Cargar Tipo</h1>
    <h7 style=color:red >{{errors}}</h7>
    <form action="" method="POST" >
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Enviar!">
    </form>
{% elif new_distribuidor_m %}
    <h5>Asociado distribuidor: {{new_distribuidor_m.distribuidor}} con marca: {{new_distribuidor_m.marca}}</h5>
    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">Marca: {{new_distribuidor_m.marca}}</h5>
            <p class="card-text">Distribuidor: {{new_distribuidor_m.distribuidor}}</p>
        </div>
    </div>

{% endif %}

{% endblock %}