{% extends 'base.html' %}
{% load static %}
{% block titulo %}Distribuidores{% endblock %}
{% block nav_administracion_activo %}active{% endblock %}
{% block contenido %}
<div class="titulo_seccion"><h2>Distribuidores</h2></div>

<div class="table-responsive-xl">
<table class="table table-hover table-light table-bordered table-sm" width="Auto">
    <thead>
      <tr>
        <th scope="col" style="width: Auto; font-size: small">Codigo</th>
        <th scope="col" style="width: Auto; font-size: small">Cuit</th>
        <th scope="col" style="width: Auto; font-size: small">Razon Social</th>
        <th scope="col" style="width: Auto; font-size: small">Direccion</th>
        <th scope="col" style="width: Auto; font-size: small">Localidad</th>
        <th scope="col" style="width: Auto; font-size: small">Pais</th>
        <th scope="col" style="width: Auto; font-size: small">Telefono</th>
        <th scope="col" style="width: Auto; font-size: small">Mail</th>
        <th scope="col" style="width: Auto; font-size: small">Web</th>      
        <th scope="col" style="width: Auto; font-size: small">Descripcion</th>
        <th scope="col" style="width: Auto; font-size: small">Activo</th>
        <th scope="col" style="width: Auto; font-size: small"></th>
      </tr>
    </thead>
    <tbody>
        {% for distribuidor in object_list %}
            <tr>
            <th scope="row">{{distribuidor.id}}</th>
            <td style="width: Auto; font-size: small">{{ distribuidor.cuit }}</td>
            <td style="width: Auto; font-size: small">{{distribuidor.razon_social}}</td>
            <td style="width: Auto; font-size: small">{{distribuidor.direccion}}</td>
            <td style="width: Auto; font-size: small">{{distribuidor.localidad}}</td>
            <td style="width: Auto; font-size: small">{{distribuidor.pais}}</td>
            <td style="width: Auto; font-size: small">{{distribuidor.telefono}}</td>
            <td style="width: Auto; font-size: small">{{distribuidor.mail}}</td>
            <td style="width: Auto; font-size: small">{{distribuidor.web}}</td>
            <td style="width: Auto; font-size: small">{{distribuidor.descripcion}}</td>
            {% if distribuidor.active == True %}
                <td style="width: Auto; font-size: small"><i class="bi bi-check-circle" style="text-align:right; font-size:20px; color:greenyellow"></i></td>
            {% else %}
                <td style="width: Auto; font-size: small"><i class="bi bi-x-circle" style="text-align:right; font-size:20px; color:red"></i></td>
            {% endif %}
            <td>
                <a href="/distribuidores/update-distribuidor/{{distribuidor.id}}" class="btn btn-primary" style="width: Auto; height: 30px ;font-size: smaller">Editar</a> 
                <a href="/distribuidores/delete-distribuidor/{{distribuidor.id}}" class="btn btn-danger" style="width: Auto; height: 30px; font-size: smaller">Eliminar</a></td> 
            </td> 
            </tr>
        {% endfor%}
    </tbody>
  </table>
  <div class="pagination" >
    {% if object_list.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if object_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ object_list.previous_page_number }}" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for p in object_list.paginator.page_range %}
          {% if object_list.number == p %}
            <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if object_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ object_list.next_page_number }}" aria-label="Siguiente">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
    </ul>
    </nav>
  {% endif %}
</div>
</div class="text-right">
  <a href="/distribuidores/create-distribuidor" class="btn btn-outline-success">Nuevo Proveedor </a> 
</div>
{% endblock %}