{% extends 'base.html' %}
{% load static %}
{% block titulo %}Login{% endblock %}
{% block nav_administracion_activo %}active{% endblock %}
{% block contenido %}

    <h2 style="margin-left:35%">Por favor inicie sesión</h2>
    <h7 style=color:red >{{errors}}</h7>
    <form action="" method="POST" style="margin-left:35%">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Ingresar" style="margin-left:20%">
    </form>
    
{% endblock %}