{% extends 'base.html' %}
{% load static %}
{% block titulo %}Detalle producto{% endblock %}
{% block nav_productos_activo %}active{% endblock %}

{% block contenido %}

    <div class="titulo_seccion"><h2>Detalles</h2></div>
    
    <div class="card" style="width: 18rem; float: left; margin: 10px; height: 640px;">
        
        
        {% if object.novedad == True %}
            <div class="labels_image">
                <span class="producto_nuevo">Nuevo</span>
            </div>
        {% else %}            
            
        {% endif %}

        {% if object.descuento > 0 %}
        <div class="labels_image">
            <span class="producto_descuento">{{ object.descuento }} % OFF!</span>
        </div> 
        {% else %}            
            
        {% endif %}

        {% if object.stock == 0 %}
        <div class="labels_image label_stock">
            <span class="producto_stock">PRODUCTO SIN STOCK!</span>
        </div> 
        {% else %}            
            
        {% endif %}

     
        <div class="images_box">
            <img src="{{ object.imagen.url }}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <div style="text-align: center;">
            {% if object.stock == 0  %}
                <h2><del>$ {{ object.precio }}</del></h2>
            {% else %}            
                <h2>$ {{ object.precio }}</h2>
            {% endif %}
            </div>
            
            <h5 class="card-title" style="margin:10px">{{ object.sku }} - {{ object.nombre }}</h5>
            <div class="card-text" style="text-align: center; margin-bottom: 15px;">{{object.marca}}</div>
            <p class="card-text"></p>
            
                                
            Tipo: {{ object.tipo }}<br>
            Stock: {{ object.stock }} u.<br>
            Descripción: {{ object.descripcion }}<br>

            {% if i.stock > 0 and request.user.username != 'admin' %}
                <a href="#" class="btn btn-primary">Comprar</a>
            {% elif request.user.username == 'admin' %}            
                <a href="/productos/update-producto/{{object.id}}" class="btn btn-primary">Editar</a>
                <a href="/productos/delete-producto/{{object.id}}" class="btn btn-danger">Eliminar</a>
            {% endif %}
            

        </div>
    </div>
       
    
    
{% endblock %}