{% extends 'base.html' %}
{% load static %}
{% block titulo %}Detalle producto{% endblock %}
{% block nav_productos_activo %}active{% endblock %}

{% block contenido %}

    <div class="titulo_seccion">        
        <h1 style="color: #3671a3;">{{ object.sku }} - {{ object.nombre }}</h1>
    </div>
    
    

    <div class="row mb-3">
        <div class="col-md-8 themed-grid-col">
            <div class="pb-3">
                <img src="{{ object.imagen.url }}" class="card-img-top" alt="{{ object.nombre }}">
            </div>
            <div class="row">
                <div class="col-md-6 themed-grid-col">&nbsp;</div>
                <div class="col-md-6 themed-grid-col">&nbsp;</div>
            </div>
        </div>
        <div class="col-md-4 themed-grid-col">
            
            {% if object.novedad == True %}
                <span class="producto_nuevo">Nuevo</span>
            {% else %}            
            {% endif %}

            {% if object.descuento > 0 %}
                <span class="producto_descuento">{{ object.descuento }} % OFF!</span>
            {% else %}
            {% endif %}

            {% if object.stock == 0 %}
                <span class="producto_stock">PRODUCTO SIN STOCK!</span>
            {% else %}            
            {% endif %}
            
            <div style="text-align: center; margin: 30px 0px; padding-bottom: 15px; border-bottom:  1px solid #cecece;">
                {% if object.stock == 0  %}
                <h2><del>$ {{ object.precio }}</del></h2>
                {% else %}            
                <h1>$ {{ object.precio }}    <a href="/productos/compra-producto/{{producto.id}}" class="btn btn-primary">Comprar</a></h1>
                
                {% endif %}
            </div>
            
                     
            <strong>Marca:</strong> {{object.marca}}<br>        
            <strong>Tipo:</strong> {{ object.tipo }}<br>
            <strong>Stock:</strong> {{ object.stock }} u.<br><br>
            
            <strong>Descripción:</strong> {{ object.descripcion }}<br>


            
           

            
           
            
            {% if request.user.username == 'admin' %}   
            <div style="margin: 20px; border-top: 1px solid #cecece; padding-top:15px">       
                <a href="/productos/update-producto/{{object.id}}" class="btn btn-primary">Editar</a>
                <a href="/productos/delete-producto/{{object.id}}" class="btn btn-danger">Eliminar</a>
            </div>
            {% endif %}


        </div>
    </div>


    
{% endblock %}