{% extends 'base.html' %}
{% load static %}
{% block titulo %}Productos{% endblock %}
{% block nav_productos_activo %}active{% endblock %}

{% block contenido %}

    <div class="titulo_seccion"><h2>Nuestros Productos</h2></div>
    {% for producto in object_list %}

    {% if producto.active == False and producto.stock == 0 and request.user.username != 'admin' %}

    {% else %}
    <div class="card" style="width: 18rem; float: left; margin: 10px; height: 640px;">
        
        {% if producto.active == False and request.user.username == 'admin' %}
        <div class="labels_image">
            <span class="producto_baja_c_stock">EOS / EOL</span>
        </div>
        {% elif producto.active == False %}
        <div class="labels_image">
            <span class="producto_baja_c_stock">Últimos disponibles</span>
        </div>
        {% endif %}
        
        {% if producto.novedad == True %}
            <div class="labels_image">
                <span class="producto_nuevo">Nuevo</span>
            </div>
        {% else %}            
            
        {% endif %}

        {% if producto.descuento > 0 %}
        <div class="labels_image">
            <span class="producto_descuento">{{ producto.descuento }} % OFF!</span>
        </div> 
        {% else %}            
            
        {% endif %}

        {% if producto.stock == 0 %}
        <div class="labels_image label_stock">
            <span class="producto_stock">PRODUCTO SIN STOCK!</span>
        </div> 
        {% else %}            
            
        {% endif %}

     
        <div class="images_box">
            <img src="{{ producto.imagen.url }}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <div style="text-align: center;">
            {% if producto.stock == 0  %}
                <h2><del>$ {{ producto.precio }}</del></h2>
            {% else %}            
                <h2>$ {{ producto.precio }}</h2>
            {% endif %}
            </div>
            
            <h5 class="card-title" style="margin:10px">{{ producto.sku }} - {{ producto.nombre }}</h5>
            <div class="card-text" style="text-align: center; margin-bottom: 15px;">{{producto.marca}}</div>
            <p class="card-text"></p>
            
                                
            Tipo: {{ producto.tipo }}<br>
            Stock: {{ producto.stock }} u.<br>
            
          
            {% if producto.stock > 0 and request.user.username != 'admin' %}
                <a href="#" class="btn btn-primary">Comprar</a>
            {% elif request.user.username == 'admin' %}            
                <a href="/productos/update-producto/{{producto.id}}" class="btn btn-primary">Editar</a>
                <a href="/productos/delete-producto/{{producto.id}}" class="btn btn-danger">Eliminar</a>
            {% endif %}
            <a href="/productos/detail-producto/{{producto.id}}/" class="btn btn-primary">Detalles</a>
           

        </div>
    </div>
    {% endif %}
    {% endfor%}
    
{% endblock %}
