{% extends 'base.html' %}
{% load static %}
{% block titulo %}Productos{% endblock %}
{% block nav_productos_activo %}active{% endblock %}

{% block contenido %}

    <div class="titulo_seccion"><h2>Nuestros Productos</h2></div>
    {% for i in object_list %}
    <div class="card" style="width: 18rem; float: left; margin: 10px; height: 640px;">
        
        
        {% if i.novedad == True %}
            <div class="labels_image">
                <span class="producto_nuevo">Nuevo</span>
            </div>
        {% else %}            
            
        {% endif %}

        {% if i.descuento > 0 %}
        <div class="labels_image">
            <span class="producto_descuento">{{ i.descuento }} % OFF!</span>
        </div> 
        {% else %}            
            
        {% endif %}

        {% if i.stock == 0 %}
        <div class="labels_image label_stock">
            <span class="producto_stock">PRODUCTO SIN STOCK!</span>
        </div> 
        {% else %}            
            
        {% endif %}

     
        <div class="images_box">
            <img src="{{ i.imagen.url }}" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <div style="text-align: center;">
            {% if i.stock == 0  %}
                <h2><del>$ {{ i.precio }}</del></h2>
            {% else %}            
                <h2>$ {{ i.precio }}</h2>
            {% endif %}
            </div>
            
            <h5 class="card-title" style="margin:10px">{{ i.sku }} - {{ i.nombre }}</h5>
            <div class="card-text" style="text-align: center; margin-bottom: 15px;">{{i.marca}}</div>
            <p class="card-text"></p>
            
                                
            Tipo: {{ i.tipo }}<br>
            Stock: {{ i.stock }} u.<br>
            
          
            {% if i.stock > 0 and request.user.username != 'admin' %}
                <a href="#" class="btn btn-primary">Comprar</a>
            {% elif request.user.username == 'admin' %}            
                <a href="/productos/update-producto/{{object.id}}" class="btn btn-primary">Editar</a>
                <a href="/productos/delete-producto/{{object.id}}" class="btn btn-danger">Eliminar</a>
            {% endif %}
            <a href="/productos/detail-producto/{{i.id}}/" class="btn btn-primary">Detalles</a>
           

        </div>
    </div>
       
    {% endfor%}
    
{% endblock %}
