{% extends 'base.html' %}
{% load static %}
{% block titulo %}Búsqueda{% endblock %}
{% block nav_productos_activo %}active{% endblock %}
{% block contenido %}
<div class="titulo_seccion"><h2>Resultado de Búsqueda</h2></div>
       
{% for producto in object_list %}
{% if producto.active == False and producto.stock == 0 and grupo == False %}

<div style = "color:red; margin-left:25rem">No se encontraron productos</div>

{% else %}

    <div class="card">
            
      {% if producto.active == False and grupo == True %}
      <div class="labels_image">
          <span class="producto_baja_c_stock">EOS / EOL</span>
      </div>
      {% elif producto.active == False %}
      <div class="labels_image">
          <span class="producto_baja_c_stock">Últimos disponibles</span>
      </div>
      {% endif %}
      
      {% if producto.novedad == True %}
          <div class="labels_image">
              <span class="producto_nuevo">Nuevo</span>
          </div>
      {% else %}            
          
      {% endif %}

      {% if producto.descuento > 0 %}
      <div class="labels_image">
          <span class="producto_descuento">{{ producto.descuento }} % OFF!</span>
      </div> 
      {% else %}            
          
      {% endif %}

      {% if producto.stock == 0 %}
      <div class="labels_image label_stock">
          <span class="producto_stock">PRODUCTO SIN STOCK!</span>
      </div> 
      {% else %}            
          
      {% endif %}


      <div class="images_box">
          <img src="{{ producto.imagen.url }}" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
          <div style="text-align: center;">
          {% if producto.stock == 0  %}
              <h2><del>$ {{ producto.precio }}</del></h2>
          {% else %}            
              <h2>$ {{ producto.precio }}</h2>
          {% endif %}
          </div>
          
          <h5 class="card-title" style="margin:10px">{{ producto.sku }} - {{ producto.nombre }}</h5>
          <div class="card-text" style="text-align: center; margin-bottom: 15px;">{{producto.marca}}</div>
          <p class="card-text"></p>
          
                              
          Tipo: {{ producto.tipo }}<br>
          Stock: {{ producto.stock }} u.<br>


          <div style="margin: 20px 0px;">
            {{ producto.descripcion|truncatechars:100 }}
          </div>
          
        
          {% if producto.stock > 0 and grupo == False %}
              <a href="/productos/compra-producto/{{producto.id}}" class="btn btn-primary">Comprar</a>
          {% elif grupo == True %}            
              <a href="/productos/update-producto/{{producto.id}}" class="btn btn-primary">Editar</a>
              <a href="/productos/delete-producto/{{producto.id}}" class="btn btn-danger">Eliminar</a>
          {% endif %}
          <a href="/productos/detail-producto/{{producto.id}}" class="btn btn-primary">Detalles</a>
        

      </div>
    </div>
    {% endif %}
    {% endfor%}
   <div style = "color:red; margin-left:25rem">{{errors}}</div>
   <div class="pagination" >
    {% if object_list.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if object_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ object_list.previous_page_number }}" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for p in object_list.paginator.page_range %}
          {% if object_list.number == p %}
            <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if object_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ object_list.next_page_number }}" aria-label="Siguiente">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
    </ul>
    </nav>
  {% endif %}
</div>
{% endblock %}
