{% extends 'base.html' %}
{% load static %}
{% block titulo %}Categorías{% endblock %}
{% block nav_administracion_activo %}active{% endblock %}
{% block contenido %}
<div class="titulo_seccion"><h2>Categorías</h2></div>

<div class="table-responsive-xl">
<table class="table table-hover table-dark table-bordered table-sm" width="Auto">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Categoría</th>
        <th scope="col">Descripción</th>
        <th scope="col">Activo</th>
      </tr>
    </thead>
    <tbody>
        {% for tipo in object_list %}
            <tr>
            <th scope="row">{{tipo.id}}</th>
            <td>{{ tipo.categoria }}</td>
            <td>{{tipo.descripcion}}</td>
            {% if tipo.active == True %}
                <td style="width: Auto; font-size: small"><i class="bi bi-check-circle" style="text-align:right; font-size:20px; color:greenyellow"></i></td>
            {% else %}
                <td style="width: Auto; font-size: small"><i class="bi bi-x-circle" style="text-align:right; font-size:20px; color:red"></i></td>
            {% endif %}
            <td>
                <a href="/productos/update-tipo/{{tipo.id}}" class="btn btn-primary" style="width: Auto; height: 30px ;font-size: smaller">Editar</a> 
                <a href="/productos/delete-tipo/{{tipo.id}}" class="btn btn-danger" style="width: Auto; height: 30px; font-size: smaller">Eliminar</a></td> 
            </td> 
            </tr>
        {% endfor%}
    </tbody>
  </table>
  <div class="pagination" >
    {% if object_list.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if object_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ object_list.previous_page_number }}" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for p in object_list.paginator.page_range %}
          {% if object_list.number == p %}
            <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if object_list.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ object_list.next_page_number }}" aria-label="Siguiente">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
    </ul>
    </nav>
  {% endif %}
</div>
</div class="text-right">
  <a href="/productos/create-tipo" class="btn btn-outline-success">Nueva Categoría </a> 
</div>
{% endblock %}